@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  /* outline: 1px greenyellow;
  outline-style: solid; */
}
html, body {
  margin: 0;
  padding: 0;
}
input[type='submit']{
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card-display {
    width: 100%;
    height: 34%;
    background: url(./images/bg-main-mobile.png);
    position: relative;
  }

  .card-back {
    position: relative;
    width: 290px;
    height: 150px;
    background: url(./images/bg-card-back.png) center;
    background-size: cover;
    border-radius: 10px;
    margin-left: calc(100% - 300px);
    top: 30px;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
  }

  .card-cvc {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 35%;
    right: 12%;
    font-size: 12px;
    font-weight: 500;
  }

  .card-front{
    position: relative;
    width: 290px;
    height: 150px;
    background: url(./images/bg-card-front.png) center;
    background-size: cover;
    left: 20px;
    transform: translateY(-25%);
    border-radius: 10px;
    color: white;
    overflow: visible;
    z-index: 10;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
  }  
  #card-logo{
    transform: scale(0.5);
    position: absolute;
    top: 6%; left: 0.5%;
  }
  .card-number-front{
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 20px;

  }
  .card-holder-name-front{
    position: absolute;
    top: 100px;
    left: 25px;
    font-size: 12px;
  }
  .card-exp-front{
    position: absolute;
    top: 100px;
    right: 47px;
    font-size: 12px;
  }

  .info-form-container, .completed-body {
    width: calc(100% - 40px);
    height: 66%;
    margin-left: 20px;
    padding-top: 90px;
  }

  .info-form{
    width: 100%;
  }

  .info-form>label{
    font-size: 15px;
    color:hsl(278, 68%, 11%);
    font-weight: 800;
  }

  .info-form>label>input {
    font-size: 20px;
    font-weight: 700;
    color: hsl(270, 3%, 87%);
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    height: 50px;
  }

  #cardholder-input, #card-number-input{
    width: 100%;
    margin: 5px 0;
    padding-left: 15px;
  }

  #exp-date-month-input, #exp-date-year-input {
    width: 80px;
    padding-left: 15px;
    margin: 5px 0;
  }
  #cvc-input{
    width: 160px;
    padding-left: 15px;
    margin: 5px 0;
  }
  label[for="exp-date-input"]{
    float: left;
  }
  label[for='cvc-input']{
    margin-left: 10px;
    float: left;
  }

  #info-submit{
    margin: 25px 0;
    width: 100%;
    height: 50px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(278, 68%, 11%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 300ms ease;
  }

  .info-form>label>input:focus, .info-form>label>input:active{
    color: black;
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    border-radius: 5px;
  }

  .check-mark{
    display: flex;
    justify-content: center;
  }
  .completed-body>.content{
    text-align: center;
  }
  #completed-state-heading{
    color: hsl(278, 68%, 11%);
    font-size: 30px;
  }
  #completed-state-message{
    color: hsl(279, 6%, 55%);
    font-size: 18px;
    font-weight: 600;
  }
}

  @media (min-width:600px){
  body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .card-display{
    position: relative;
    width: 33%;
    height: 100%;
    background-image: url(./images/bg-main-desktop.png);
  }
  .card-back{
    position: relative;
    width: 300px;
    height: 160px;
    background: url(./images/bg-card-back.png) center;
    background-size: cover;
    border-radius: 10px;
    top: 51%;
    left: 40%;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
  }
  .card-cvc{
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 33%;
    right: 12%;
    font-size: 15px;
    font-weight: 500;
  }

  .card-front{
    position: absolute;
    width: 300px;
    height: 160px;
    background: url(./images/bg-card-front.png) center;
    background-size: cover;
    border-radius: 10px;
    top: 18%;
    left: 30%;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
    color: white;
  }
  #card-logo{
    transform: scale(0.6);
    position: absolute;
    top: 6%;
    left: 0.5%;
  }
  .card-number-front{
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 23px;
  }
  .card-holder-name-front{
    position: absolute;
    top: 73%;
    left: 6%;
    font-size: 12px;
  }
  .card-exp-front{
    position: absolute;
    top: 73%;
    right: 6%;
    font-size: 12px;
  }

  .info-form-container {
    width: 67%;
    height: 100vh;
  }

  .info-form,.completed-body{
    width: calc(100% - 200px);
    margin: 150px 0 0 175px;

  }
  .info-form>label{
    font-size: 12px;
    color:hsl(278, 68%, 11%);
    font-weight: 800;
    margin-bottom: 20px;
  }
  .info-form>label>input {
    font-size: 15px;
    font-weight: 700;
    color: hsl(270, 3%, 87%);
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    height: 50px;
    margin-top: 10px;
  }
  #cardholder-input, #card-number-input{
    width: 100%;
    margin: 5px 0;
    padding-left: 15px;
  }
  #exp-date-month-input, #exp-date-year-input {
    width: 80px;
    padding: 0 0 0 15px;  
    margin: 5px 10px 0 0;
  }
  #cvc-input{
    max-width: 100%;
    width: calc((1440 / 275) * 100%);
    padding-left: 23px;
    margin: 5px 0 0 0;
  }
  label[for="exp-date-input"]{
    float: left;
  }
  label[for='cvc-input']{
    margin-left: 0;
    float: left;
  }
  #info-submit{
    margin: 25px 0;
    width: 100%;
    height: 50px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(278, 68%, 11%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 300ms ease;
  }
  .info-form>label>input:focus, .info-form>label>input:active{
    color: black;
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    border-radius: 5px;
  }

  .check-mark{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .completed-body>.content{
    text-align: center;
  }
  #completed-state-heading{
    color: hsl(278, 68%, 11%);
    font-size: 30px;
  }
  #completed-state-message{
    color: hsl(279, 6%, 55%);
    font-size: 18px;
    font-weight: 600;
  }
}

@media (min-width:1200px){
  body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .card-display{
    position: relative;
    width: 33%;
    height: 100%;
    background-image: url(./images/bg-main-desktop.png);
  }
  .card-back{
    position: relative;
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-back.png) center;
    background-size: cover;
    border-radius: 10px;
    top: 51%;
    left: 50%;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
  }
  .card-cvc{
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 38%;
    right: 12%;
    font-size: 15px;
    font-weight: 500;
  }

  .card-front{
    position: absolute;
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-front.png) center;
    background-size: cover;
    border-radius: 10px;
    top: 18%;
    left: 30%;
    box-shadow: 0 1em 1.5em 0 hsla(0, 0%, 0%, 0.233);
    color: white;
  }
  #card-logo{
    transform: scale(0.8);
    position: absolute;
    top: 8%;
    left: 4%;
  }
  .card-number-front{
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 30px;
  }
  .card-holder-name-front{
    position: absolute;
    top: 75%;
    left: 6%;
    font-size: 15px;
  }
  .card-exp-front{
    position: absolute;
    top: 75%;
    right: 6%;
    font-size: 15px;
  }

  .info-form-container {
    width: 67%;
    height: 100vh;
  }

  .info-form, .completed-body {
    width: calc(100% - 500px);
    margin: 200px 150px 0 350px;
    max-width: 500px;
  }
  .info-form>label{
    font-size: 15px;
    color:hsl(278, 68%, 11%);
    font-weight: 800;
    margin-bottom: 20px;
  }
  .info-form>label>input {
    font-size: 18px;
    font-weight: 700;
    color: hsl(270, 3%, 87%);
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    height: 50px;
    margin-top: 10px;
  }
  #cardholder-input, #card-number-input{
    width: 100%;
    margin: 5px 0;
    padding-left: 15px;
  }
  #exp-date-month-input, #exp-date-year-input {
    width: 80px;
    padding: 0 0 0 15px;  
    margin: 5px 10px 0 0;
  }
  #cvc-input{
    max-width: 100%;
    width: calc((1440 / 275) * 100%);
    padding-left: 23px;
    margin: 5px 0 0 0;
  }
  label[for="exp-date-input"]{
    float: left;
  }
  label[for='cvc-input']{
    margin-left: 0;
    float: left;
  }
  #info-submit{
    margin: 25px 0;
    width: 100%;
    height: 50px; 
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(278, 68%, 11%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 300ms ease;
  }
  .info-form>label>input:focus, .info-form>label>input:active{
    color: black;
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    border-radius: 5px;
  }

  .check-mark{
    display: flex;
    justify-content: center;
  }
  .completed-body>.content{
    text-align: center;
  }
  #completed-state-heading{
    color: hsl(278, 68%, 11%);
    font-size: 30px;
  }
  #completed-state-message{
    color: hsl(279, 6%, 55%);
    font-size: 18px;
    font-weight: 600;
  }
}

#info-submit:hover, #info-submit:focus{
  background-color: hsl(270, 3%, 87%);
  color: hsl(278, 68%, 11%)
}


